<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>This is a comment</comment>
    <entry key="url">jdbc:mysql://xxx/demo</entry>
    <entry key="driver">com.mysql.jdbc.Driver</entry>
    <entry key="username">mysql</entry>
    <entry key="password">admin</entry>
</properties>