// 注意配置规范
grant {
    // 给指定文件配置IO读权限
    permission java.io.FilePermission "D:/Software Senior/Java/JavaBasic/WorkFolder/text.txt", "read";
    // 配置能否读取指定全局属性的权限
    permission java.util.PropertyPermission "file.encoding", "read";
};

// 配置指定类拥有什么权限
// grant codebase "file: D:/Software Senior/Java/JavaBasic/src/JavaSecurity/Main.class" {
//     permission java.util.PropertyPermission "*" "read, write";
// };

// 配置当前进程中只有指定的jar包拥有配置的权限，其余jar包均不支持指定的权限
// grant codebase "file: D:/Software Senior/Java/JavaBasic/lib/javabasic-1.0-SNAPSHOT.jar" {
//     permission java.io.FileStream "text", "read";
// };
