<component name="libraryTable">
  <library name="Log4j">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../Sources/Apache log4j/log4j-1.2-api-2.14.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Sources/Apache log4j/log4j-api-2.14.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Sources/Apache log4j/log4j-core-2.14.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>